.widget {
  border-radius: 3px;
  margin-bottom: 20px;
  color: #fff;
  padding: 15px;
  overflow: hidden;

  &.widget-stats {
    position: relative;

    & > .stats-icon {
      @include opacity(0.2);
      font-size: 42px;
      height: 56px;
      width: 56px;
      text-align: center;
      line-height: 56px;
      margin-left: 15px;
      color: #fff;
      position: absolute;
      right: 15px;
      top: 15px;

      &.stats-icon-lg {
        font-size: 52px;
        top: 12px;
        right: 21px;
      }
    }

    & > .stats-desc,
    & > .stats-title {
      color: #fff;
      color: rgba(255, 255, 255, 0.6);
    }

    & > .stats-title {
      margin: 2px 0 7px;
      font-size: 12px;
      line-height: 1.1;
      position: relative;
    }

    & > .stats-number {
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: normal;
    }

    & > .stats-progress {
      margin: 0 -15px 12px;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.2);

      & > .progress-bar {
        @include box-shadow(none);
        background-color: #fff;
      }
    }
  }

  &.widget-bg-green {
    background-color: #00acac !important;
  }

  &.widget-bg-blue {
    background-color: #348fe2 !important;
  }

  &.widget-bg-black {
    background-color: #272930 !important;
  }
}

.morris > .morris-hover {
  @include border-radius($border-radius-base !important);
  padding: 8px !important;
  color: #ccc !important;
  background-color: rgba(0, 0, 0, 0.75) !important;
  border: none !important;
}
