#comable-order {
  .panel > .panel-body > h3 {
    margin-top: 10px;
  }
}

.comable-map {
  height: $comable-map-height;

  .panel-footer > & {
    margin: -10px -15px;
  }

  .comable-google-map {
    width: 100%;
    height: 100%;
    padding: $padding-base-vertical $padding-base-horizontal;
  }
}

.comable-avatar > .thumbnail {
  margin-bottom: 0;
  width: $comable-avatar-size;
  height: $comable-avatar-size;
}

dl.comable-address-with-icon {
  margin-bottom: 0;

  & > dt {
    width: $comable-address-icon-size;
    text-align: center;
    vertical-align: middle;
    color: $text-muted;
  }

  & > dd {
    margin-left: $comable-address-icon-size + $comable-address-icon-margin;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    & > ul,
    & > ol {
      margin-bottom: 0;
    }

    a {
      color: $text-color;
      text-decoration: underline;
    }
  }
}
