.slug {
  @include display-flex;

  .url {
    @include flex(0 0 auto);
    @include nowrap;
    @include border-top-left-radius($input-border-radius);
    @include border-bottom-left-radius($input-border-radius);
    border: 1px solid $input-border;
    border-right: 0;
    background: $input-bg-disabled;

    span {
      @include inline-block;
      color: lighten($input-color, 15%);
      padding: 6px 12px;
      padding-right: 6px;
    }
  }

  .slug-body {
    @include flex(1 1 0%);

    input{
      @include border-top-left-radius(0px);
      @include border-bottom-left-radius(0px);
      padding-left: 6px;
    }
  }
}
