#comable-product {
  label.remove {
    display: block;
    margin: 0;
  }

  .table tbody > tr > td {
    .thumbnail {
      margin-bottom: 0;
    }
    &.comable-image {
      width: 180px;
    }
    &:not(.comable-image) {
      vertical-align: middle;
    }
  }

  td.property_key {
    border-right: 1px solid #ddd;
  }
}
