#comable-theme-editor {
  .comable-theme-editor-filename {
    @include border-top-radius($input-border-radius);
    padding: 5px 10px;
    color: #8F908A;
    background-color: #2F3129;
  }

  .comable-theme-editor-window {
    @include border-bottom-radius($input-border-radius);
    width: 100%;
    height: 600px;
  }
}


#comable-file-tree {
  @include border-radius($input-border-radius);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  padding: 5px 0;
  border: 1px solid $input-border;
  overflow: auto;

  dl {
    $indent: 1.5em;
    margin-bottom: 0;

    dl {
      text-indent: $indent;
      dl {
        text-indent: $indent * 2;
      }
    }
  }

  dt, a {
    display: block;
    padding: 5px 10px;
  }

  a {
    &:hover, &:active {
      color: $dropdown-link-active-color;
      background-color: $dropdown-link-active-bg;
    }
  }
}
