$comable-theme-bg: #7761a7;

// signin
$comable-signin-bg: #d9e0e7;
$comable-signin-color: #666;
$comable-signin-body-bg: #373737;
$comable-signin-body-color: #aaa;

// orders
$comable-map-height: 160px;
$comable-avatar-size: 80px;
$comable-address-icon-size: 20px;
$comable-address-icon-margin: 15px;

// themes
$comable-theme-editor-color: #8F908A;
$comable-theme-editor-bg: #272822;
$comable-theme-editor-filename-bg: #2F3129;
$comable-theme-editor-filename-height: 35px;

// bootstrap
$navbar-default-color: #aaa;
$navbar-default-bg: #373737;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: $navbar-default-link-hover-color;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 10%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 10%);
$navbar-default-brand-color: $navbar-default-link-hover-color;
$navbar-default-brand-hover-color: $navbar-default-brand-color;
$navbar-default-toggle-icon-bar-bg: $navbar-default-link-color;
$navbar-default-toggle-hover-bg: $navbar-default-link-hover-bg;

// ngprogress
$nprogress-color: $comable-theme-bg;

// awesome_admin_layout
$awesome_admin_layout-navigation-item-active-bg: $comable-theme-bg;
