//= require jquery-ui
//= require morris
//= require pace/pace-theme-minimal
//= require_self
//= require_tree .

// ---
// variables
// ---
$comable-theme-bg: #7761a7;

// sidebar
$comable-sidebar-width: 280px;
$comable-sidebar-bg: #d9e0e7;
$comable-sidebar-color: #444;
$comable-sidebar-border: darken($comable-sidebar-bg, 10%);
$comable-sidebar-link-color: $comable-sidebar-color;
$comable-sidebar-link-hover-color: #000;
$comable-sidebar-link-active-color: #fff;
$comable-sidebar-link-hover-bg: darken($comable-sidebar-bg, 10%);
$comable-sidebar-link-active-bg: $comable-theme-bg;
$comable-sidebar-darken-bg: darken($comable-sidebar-bg, 15%);
$comable-sidebar-darken-hover-bg: rgba(0, 0, 0, 0.2);
$comable-sidebar-darken-active-bg: $comable-sidebar-darken-hover-bg;
$comable-sidebar-darken-color: $comable-sidebar-color;
$comable-sidebar-darken-hover-color: #fff;
$comable-sidebar-darken-active-color: $comable-sidebar-darken-hover-color;

// orders
$comable-map-height: 160px;
$comable-avatar-size: 80px;
$comable-address-icon-size: 20px;
$comable-address-icon-margin: 15px;

// bootstrap
$navbar-default-color: #aaa;
$navbar-default-bg: #373737;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: $navbar-default-link-hover-color;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 10%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 10%);
$navbar-default-brand-color: $navbar-default-link-hover-color;
$navbar-default-brand-hover-color: $navbar-default-brand-color;
$navbar-default-toggle-icon-bar-bg: $navbar-default-link-color;
$navbar-default-toggle-hover-bg: $navbar-default-link-hover-bg;

// $panel-default-heading-bg: $comable-sidebar-bg;
// $panel-default-border: $comable-sidebar-border;

// pace
$comable-pace: #fff;


// ---
// imports
// ---

@import 'compass/utilities';
@import 'compass/css3';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

// ---
// mixins
// ---

// from https://github.com/FortAwesome/Font-Awesome/issues/213
@mixin glyphicon($name, $float: none) {
  &:before {
    float: $float;
  @extend .glyphicon;
  }
  @extend .glyphicon-#{$name};
}

@mixin fa($name, $float: none) {
  &:before {
    float: $float;
    @extend .fa;
  }
  @extend .fa-#{$name};
}

// ---
// common
// ---

body {
  font-size: 12px;
  font-family: Verdana, '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

#wrapper {
  display: table;
  width: 100%;
  position: absolute;
  height: 100%;

  body.animated & {
    @include transition(margin-left 600ms ease, opacity 600ms);
    opacity: 0;
    margin-left: -20px;
  }
}

.container {
  &.right {
    display: table-cell;
    vertical-align: top;

    margin-left: 216px;
    position: relative;
  }

padding: 0;
overflow: hidden;

margin-right: auto;
}

.logo {
  padding: 0 20px;
  height: 64px;
  line-height: 64px;
  background-color: #fc796b;
  background-color: #e55466;
  background-color: $comable-theme-bg;

  a {
    font-size: x-large;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: #fff;
    }
  }
}

.sidebar {
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-bottom: 200px;
  border-right: 1px solid $comable-sidebar-border;

  & {
    background: $comable-sidebar-bg;
    width: $comable-sidebar-width;
    z-index: 300;
  }
}

.vnavigation {
  width: $comable-sidebar-width;
  background-color: $comable-sidebar-bg;
  border-right: 1px solid $comable-sidebar-border;
  position: fixed;

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $comable-sidebar-link-color;
      text-decoration: none;
    }

    &:hover {
      color: $comable-sidebar-link-hover-color;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  & > ul {
    margin: 5px 0;

    & > li > a {
      display: block;
      padding: 12px 25px;
      font-size: 13px;
      font-weight: 400;
      white-space: nowrap;
      border-left: 2px solid transparent;
    }

    &> li.active > a {
      color: $comable-sidebar-link-active-color;
      background-color: $comable-sidebar-link-active-bg;

      i {
        text-align: center;
        width: 20px;
        font-size: 14px;
        margin-right: 7px;
      }
    }
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & > ul > li > a {
    &:hover {
      @include transition(color 250ms ease, background-color 250ms ease);
      background-color: $comable-sidebar-link-hover-bg;
    }

    i {
      text-align: center;
      width: 20px;
      font-size: 14px;
      margin-right: 7px;
    }
  }

  li.parent {
    & > a {
      //@include glyphicon(chevron-right, $float: right);
      @include fa(angle-right, $float: right);
    }

    & > ul {
      display: none;
      padding: 14px 0;
      background-color: $comable-sidebar-darken-bg;

      a {
        display: block;
        padding: 7px 42px;

        &:link, &:visited, &:hover, &:active {
          color: $comable-sidebar-darken-color;
        }

        &:hover {
          @include transition(color 250ms ease, background-color 250ms ease);
          color: $comable-sidebar-darken-hover-color;
          background-color: $comable-sidebar-darken-hover-bg;
        }

        border-left: 2px solid transparent;
      }

      .active > a {
        color: $comable-sidebar-darken-active-color;
        background-color: $comable-sidebar-darken-active-bg;
        border-left: 2px solid $comable-theme-bg;
      }
    }
  }
}

// ---
// apply Bootstrap
// ---
body {
  margin-top: $navbar-height;
}

.navbar {
  @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 2px);
}

.navbar-default .navbar-nav > li > a:hover {
  @include transition(color 250ms ease, background-color 250ms ease);
}

.panel.panel-inverse {
  border: none;

  & > .panel-heading {
    background: #313239;
    color: #fff;
  }
}

.page-header {
  font-size: 24px;
  margin: 0 0 20px;
  padding: 0;
  border: none;
  line-height: 28px;
}

.panel > .panel-footer {
  form {
    @extend .text-right;
  }
}

.page-header > .breadcrumb {
  margin: 0;
  padding: 0;
  background-color: transparent;

  & > li {
    color: $text-color;

    & > a {
      color: darken($breadcrumb-color, 20%);
    }
  }
}

label {
  @extend .control-label;
}

select,
input[type="password"],
input[type="email"],
input[type="text"] {
  @extend .form-control;
  margin-right: 0.5em;

  &:last-child {
    margin-right: 0;
  }
}

table {
  @extend .table;

  th > a {
    &:link, &:visited, &:hover, &:active {
      color: $text-color;
    }
  }
}

#comable-product {
  label.remove {
    display: block;
    margin: 0;
  }

  .table tbody > tr > td {
    .thumbnail {
      margin-bottom: 0;
    }
    &.comable-image {
      width: 180px;
    }
    &:not(.comable-image) {
      vertical-align: middle;
    }
  }
}

#comable-order {
  .panel > .panel-body > h3 {
    margin-top: 10px;
  }
}

legend {
  margin-bottom: 0;
  border-bottom: 0;
}

#comable-affix {
  @extend .hidden-sm;
  @extend .hidden-xs;

  &.affix {
    top: $navbar-height + 20px;
  }

  .list-group > a:before {
    @include fa(angle-right);
    margin-right: 1em;
  }
}

table > tbody > tr > td > ul {
  margin-bottom: 0;
}

footer {
  @extend .text-muted;
  margin: 25px;
  text-align: center;

  & > ul > li + li:before {
    content: '·';
    padding-right: 10px;
  }
}

// ---
// tag-it
// ---
ul.tagit > li > input[type="text"] {
  height: auto;
}

ul.tagit-autocomplete.ui-menu {
  @include border-radius($border-radius-base);
  @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));
  padding: 5px 0;
  border-color: $dropdown-border;

  li.ui-menu-item {
    padding: $padding-base-vertical $padding-base-horizontal;
    color: $dropdown-link-color;
    background-color: $dropdown-bg;
    border: none;

    &.ui-state-focus {
      color: $dropdown-link-active-color;
      background-color: $dropdown-link-active-bg;
    }
  }
}

// ---
// jstree
// ---
.jstree {
  @include border-radius($input-border-radius);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  padding: 5px 0;
  border: 1px solid $input-border;

  .jstree-wholerow {
    @include transition(none);
  }

  .jstree-wholerow-hovered {
    color: $dropdown-link-color;
    background: $dropdown-link-hover-bg;
  }

  .jstree-wholerow-clicked {
    color: $dropdown-link-active-color;
    background: $dropdown-link-active-bg;
  }

  .jstree-anchor.jstree-clicked {
    color: $dropdown-link-active-color;

    &:link, &:visited, &:hover, &:active {
      color: $dropdown-link-active-color;
    }

    & > input {
      @include border-radius($input-border-radius);
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
      color: $dropdown-link-color;
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
  }
}

ul.vakata-context.jstree-contextmenu {
  @include border-radius($border-radius-base);
  @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));

  padding: 5px 0;
  background-color: $dropdown-bg;
  border-color: $dropdown-border;

  & > li {
    @include border-radius(0);

    & > a {
      padding-top: 0;
      padding-bottom: 0;
      line-height: $line-height-computed;
      color: $dropdown-link-color;
      background-color: $dropdown-bg;

      & > i,
      & > .vakata-contextmenu-sep {
        display: none;
      }
    }

    &.vakata-context-hover > a {
      @include box-shadow(none);
      background-color: $dropdown-bg;

      &:hover {
        background-color: $dropdown-link-hover-bg;
      }
    }
  }
}

#comable-notifier {
  @include opacity(0.95);
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;

  & > * {
    padding: 0 1em;
    height: $navbar-height;
    line-height: $navbar-height;

    &.comable-alert {
      color: $alert-danger-text;
      background-color: $alert-danger-bg;
    }

    &.comable-notice {
      color: $alert-success-text;
      background-color: $alert-success-bg;
    }
  }
}

// Dashboard

.widget {
  border-radius: 3px;
  margin-bottom: 20px;
  color: #fff;
  padding: 15px;
  overflow: hidden;

  &.widget-stats {
    position: relative;

    & > .stats-icon {
      @include opacity(0.2);
      font-size: 42px;
      height: 56px;
      width: 56px;
      text-align: center;
      line-height: 56px;
      margin-left: 15px;
      color: #fff;
      position: absolute;
      right: 15px;
      top: 15px;

      &.stats-icon-lg {
        font-size: 52px;
        top: 12px;
        right: 21px;
      }
    }

    & > .stats-desc,
    & > .stats-title {
      color: #fff;
      color: rgba(255, 255, 255, 0.6);
    }

    & > .stats-title {
      margin: 2px 0 7px;
      font-size: 12px;
      line-height: 1.1;
      position: relative;
    }

    & > .stats-number {
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: normal;
    }

    & > .stats-progress {
      margin: 0 -15px 12px;
      height: 2px;
      background: #000;
      background: rgba(0, 0, 0, 0.2);

      & > .progress-bar {
        @include box-shadow(none);
        background: #fff;
      }
    }
  }

  &.widget-bg-green {
    background: #00acac !important;
  }

  &.widget-bg-blue {
    background: #348fe2 !important;
  }

  &.widget-bg-black {
    background: #272930 !important;
  }
}

.morris > .morris-hover {
  @include border-radius($border-radius-base !important);
  padding: 8px !important;
  color: #ccc !important;
  background: rgba(0, 0, 0, 0.75) !important;
  border: none !important;
}

// ---
// pace
// ---
.pace .pace-progress {
  @include transition-property(none);
  background-color: $comable-pace !important;
}


// ---
// new
// ---
.comable-page-heading {
  margin: 0 -15px 25px;
  padding: 25px 30px;
  border-bottom: 5px solid #eee;

  & > .page-header {
    margin-bottom: 0;
  }

  & > ul {
    margin: 0;
    padding: 0;
    list-style: none;

    & > li {
      margin-left: 5px;
    }
  }
}

.comable-search {
  margin: 0 30px 25px;
}

.comable-main-fixed-top {
  padding-left: $comable-sidebar-width;
  width: 100%;
  background-color: #fff;
  position: fixed;
  left: 0;
  z-index: 200;

  & > .comable-page-heading {
    margin: 0;
  }

  & + .comable-page-body {
    // 89px = comable-page-heding-height
    padding-top: 89px + 20px;
  }
}

// ---
// orders
// ---
.comable-map {
  height: $comable-map-height;

  .panel-footer > & {
    margin: -10px -15px;
  }

  .comable-google-map {
    width: 100%;
    height: 100%;
    padding: $padding-base-vertical $padding-base-horizontal;
  }
}

.comable-avatar > .thumbnail {
  margin-bottom: 0;
  width: $comable-avatar-size;
  height: $comable-avatar-size;
}

dl.comable-address-with-icon {
  margin-bottom: 0;

  & > dt {
    width: $comable-address-icon-size;
    text-align: center;
    vertical-align: middle;
    color: $text-muted;
  }

  & > dd {
    margin-left: $comable-address-icon-size + $comable-address-icon-margin;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    & > ul,
    & > ol {
      margin-bottom: 0;
    }

    a {
      color: $text-color;
      text-decoration: underline;
    }
  }
}

// ---
// errors
// ---
#errorExplanation {
  @extend .alert;
  @extend .alert-danger;

  & > h2 {
    margin-top: 0;
    font-size: $font-size-h4;
    font-weight: bold;
  }

  & > ul {
    margin-top: 5px;
  }
}

.field_with_errors {
  @extend .has-error;
}
