.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy_without_mapping/db/*.sqlite3
spec/dummy_without_mapping/db/*.sqlite3-journal
spec/dummy_without_mapping/log/*.log
spec/dummy_without_mapping/tmp/
spec/dummy_without_mapping/.sass-cache
coverage/
