<!DOCTYPE html>
<html>
<head>
  <title>ComableBackend</title>
  <%= stylesheet_link_tag    "comable_backend/application", media: "all" %>
  <%= javascript_include_tag "comable_backend/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
