<!DOCTYPE html>
<html>
<head>
  <title>Comable</title>
  <%= stylesheet_link_tag    "comable/application", media: "all" %>
  <%= javascript_include_tag "comable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
