//= require_tree

$lighten-bg: #f7b529;
$lighten-bg: #139bab;
$darken-bg: darken($lighten-bg, 10%);

// brand
$brand-primary: $lighten-bg;
// navbar
$navbar-default-bg: $lighten-bg;
$navbar-default-color: #fff;
// navbar > link
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: $darken-bg;
$navbar-default-link-active-bg: $darken-bg;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 10%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 10%);
// navbar > brand
$navbar-default-brand-color: $navbar-default-link-color;
$navbar-default-brand-hover-color: $navbar-default-brand-color;
// navbar > toggle
$navbar-default-toggle-icon-bar-bg: $navbar-default-link-color;
$navbar-default-toggle-hover-bg: $navbar-default-link-hover-bg;
// button
$btn-primary-bg: invert($lighten-bg);

@import "bootstrap-sprockets";
@import "bootstrap";

// TODO: Enable after solve the issue.
// @import "compass/utilities";
// @import "compass/css3";

body.comable-checkout-layout {
  margin: 30px;

  nav {
    .navbar-brand,
    .navbar-brand:hover, {
      color: $lighten-bg;
    }
    background: $navbar-default-color;
    border: none;
  }
}

nav {
  .navbar-nav > li > a {
    @include transition(all .15s ease-in);
  }

  // HACK:
  // from http://stackoverflow.com/questions/18552714/bootstrap-3-how-to-maximize-input-width-inside-navbar/18562948#18562948
  .form-group {
    display: inline !important;
    .input-group {
      display: table;
      padding: 0 6px;
      .input-group-btn {
        width: 1% !important;
      }
    }
  }

  .form-control,
  .btn-default,
  .btn-default:hover {
    border-color: darken($navbar-default-bg, 10%);
  }
}

.comable-navbar-top {
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  background-color: darken($navbar-default-bg, 10%);

  .navbar-text {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
    &:hover {
      color: lighten($navbar-default-link-hover-bg, 40%);
    }
  }

  .container {
    padding-left: 0;
  }

  a:hover {
    background-color: transparent;
  }
}

button {
  @extend .btn;
}

input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;

  &.btn-default {
    @extend .btn-default;
  }
}

select,
input[type="password"],
input[type="email"],
input[type="text"] {
  @extend .form-control;
  margin-right: 0.5em;

  &:last-child {
    margin-right: 0;
  }
}

table {
  @extend .table;
}

// Megamenu
// from http://jsfiddle.net/apougher/ydcMQ/
.menu-large {
  position: static !important;

  .megamenu {
    padding: 20px 0px;
    width: 100%;
  }

  .megamenu > li > ul {
    padding: 0;
    margin: 0;
  }

  .megamenu > li > ul > li {
    list-style: none;
  }

  .megamenu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
  }

  .megamenu > li ul > li > a:hover,
  .megamenu > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
  }

  .megamenu.disabled > a,
  .megamenu.disabled > a:hover,
  .megamenu.disabled > a:focus {
    color: #999999;
  }

  .megamenu.disabled > a:hover,
  .megamenu.disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
  }

  .megamenu.dropdown-header {
    color: #428bca;
    font-size: 18px;
  }

  @media(max-width: 768px) {
    .megamenu {
      margin-left: 0;
      margin-right: 0;
    }

    .megamenu > li {
      margin-bottom: 30px;
    }

    .megamenu > li:last-child {
      margin-bottom: 0;
    }

    .megamenu.dropdown-header {
      padding: 3px 15px !important;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header {
      color: #fff;
    }
  }
}

// checkout-flow
.comable-checkout-flow {
  $weight: 1px;
  $size: 11px + $weight;
  $border-darken: #aaa;
  $border-lighten: #fff;
  $color-darken: #aaa;
  $color-lighten: $lighten-bg;

  font-size: 75%;
  color: $color-darken;
  height: $navbar-height;
  position: relative;
  background: url('data:image/gif;base64,R0lGODdhAQABAIAAAKqqqgAAACwAAAAAAQABAAACAkQBADs=') repeat-x 0 34px; // #aaa
  background-size: $weight;
  overflow: hidden;
  width: 60%;

  & > li {
    padding-top: 7px;
    width: 25%;
    text-align: center;
    vertical-align: top;

    &:before {
      width: $weight;
      height: $size;
      display: block;
      background-color: $border-darken;
      position: absolute;
      top: 28px;
    }

    &:first-child:before {
      content: '';
      left: 0px;
    }

    &:last-child:before {
      content: '';
      right: 0px;
    }

    &:after {
      content: '';
      display: block;
      width: $size;
      height: $size;
      border-radius: $size;
      background-color: $border-darken;
      border: 2px solid $border-lighten;
      position: absolute;
      top: 22px + ($size / 2);
      left: 50%;
      margin-left: -($size / 2);
    }

    &.active {
      color: $color-lighten;

      &:after {
        background-color: $border-lighten;
        border-color: $color-lighten;
      }
    }
  }

  @media(max-width: 768px) {
    margin: 0;
    padding: 0;
    width: 100%;

    & > li {
      float: left;
    }
  }
}

// main
main {
}

#comable-order {
  input[type="submit"] {
    @extend .btn-block;
  }
  .comable-bill_address,
  .comable-ship_address {
    form {
      @extend .form-horizontal;
      @extend .col-sm-6;
    }
  }
}

footer {
  margin: 30px;
  text-align: center;
}

.comable-mini-cart {
  $width: 250px;
  $image-width: 40px;
  $padding: 10px;

  width: $width + $padding * 3;

  & > li > a {
    display: block;
    padding: $padding;
    vertical-align: middle;

    .comable-image {
      float: left;
      margin-right: $padding;
      width: $image-width;
    }

    .comable-name {
      display: block;
      color: $link-color;
      white-space: nowrap;
      overflow: hidden;
      // TODO: Enable after solve the issue.
      // @include ellipsis;
      text-overflow: ellipsis;
      -webkit-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
    }
  }

  .comable-show-cart {
    margin: $padding;
    text-align: center;

    a {
      @extend .btn;
      @extend .btn-primary;
      display: block;
      color: $btn-primary-color;
    }
  }
}
