coffee:
  jQuery(document).ready(->
    search = new Search()

    $(document).on('click', '.ransack.add_fields', ->
      search.add_fields(this, $(this).data('fieldType'), $(this).data('content'))
      false
    );

    $(document).on('click', '.ransack.remove_fields', ->
      search.remove_fields(this);
      return false;
    )
  )
